*{
	margin: 0;
	padding: 0;
	font-family: consolas;
	scroll-behavior: smooth;
}
body{
	background-color: #222222;
}
ul{
	background: transparent;
	list-style: none;
}
a{
	text-decoration: none;
	background-color: transparent;
	color: #f1f1f1;
}
body{
	color: #f1f1f1;
}
.SideMenu{
	background: transparent;
	position: fixed;
	right: 25px;
	bottom: 25px;
	transform-origin: bottom right;
	transform: rotate(-90deg) translateX(100%);
	z-index: 10;
	width: 100%;
}
.sideMenu ul{
	display: inline-block;
	margin-right: 20px;
}
.SideMenu li{
	display: inline-block;
	margin-right: 20px;
}
.navbar{
	background-color: transparent;
	position: fixed;
	top: 25;
	right: 25;
	z-index: 1;
}
.navbar a{
	margin: 30px;
}
section{
	margin: 0;
	height: 100%;
	padding-left: 15%;
	position: relative;
}
.centered{
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}
section h1{
	font-size: 3em;
	color: #f1f1f1;
	width: auto;
}
#home h1{
	font-size: 5em;
}
#about p{
	margin-right: 45px;
}
.typingAnimation{
	border-right: 0.15em solid #f1f1f1;
	animation: typeanimation 1s step-end infinite;
}
section p{
	color: #f1f1f1;
}
.codeColor{
	background: linear-gradient(to right, #008aff,#00ffe7);
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 10s ease-in-out infinite;
	-moz-animation: animate 10s ease-in-out infinite;
	-webkit-animation: animate 10s ease-in-out infinite;
}
nav > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #9CF5A6;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
nav > a:hover:before,
nav > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 1100px){
	#home h1{
		font-size: 3em;
	}
	#home h3{
		font-size: 1em;
	}
}
@media screen and (max-width: 700px){
	#home h1{
		font-size: 2em;
	}
	#home h3{
		width: 290px;
	}
}
@keyframes animate
{
	0,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}
@keyframes typeanimation{
	from, to{ border-color: transparent }
	50%{ border-color: f1f1f1;}
}
